.navbutton {
    -fx-background-color: gray;
    -fx-background-radius: 0;
    -fx-font-size: 19;
}
.navbuttonActive{
    !important;
    -fx-background-color: silver;
}

.navbutton:hover{
    -fx-background-color: lightgray;
}

.editButton:pressed {

}

.navbar {
    -fx-background-color: gray;
}

.grid {
    -fx-padding: 30;
}

.startPicture:hover {
}

.scrollbar:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.recipeLabel{
}